body {
    background:url(../images/background.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: horizontal vertical;
}

#header {
    /*background可以设置背景颜色图片之类的*/
    position: relative;
    height: 140px;
    background: #fdbd2d;
    border-bottom: 4px solid #fdbd2d;

}

#header .name {
    height: 120px;
    display: inline;
    width: 250px;
    margin-top: 20px;
}

#header .name h1 {
    width: 220px;
    display: inline;
    font-size: 40px;
    color:#f6c02b;
    margin: 20px 10px 13px 10px;
}

#header .name h2 {

    display: inline;
    font-size: 30px;
    color:#3a3a3a;
    margin: 20px 10px 13px 5px;
}

#header .back {
    float:right;
    position:absolute;
    bottom: 0px;
    right: 0px;
}

#header .welcome label {
    color:#a6bcd9;
    font-weight: 150;
}

#header .welcome a {
    color:#a6bcd9;
    text-decoration: none;
    font-weight: 150;
}

#header .back a {
    color:#6c6b69;
    text-decoration: none;
    font-weight: 150;
    font-size: 15px;
}

#header .back a:hover {
    color:#6c6b69;
    font-weight: 150;
    font-size: 15px;
}

#header .top-nav {
    height: 35px;
    background: #f5f5f5;
    border-bottom:1px solid #dad5d5;
}

#header .top-nav .welcome {
    float: right;
}

#background img {
    width: 100%;
}

#form {
    position:relative;
	background-color: rgba(f,f,f,0.1);
	width: 40%;
    opcity:0.5;
	margin-top: 30px;
    margin-bottom: 50px;
    margin-right:30px;
    float: right;
	padding: 20px;
	border-radius: 5px;
	box-shadow: #ccc 5px 5px 10px;
}

#form .form-group .col-sm-2{
    width: 20%;
    padding-right: 0px;
}

#form .form-group .col-sm-10{
    width: 69%;
}

#form .form-group .btn {
    padding:0;
}

#form .form-group .checkbox {
    text-align: center;
}

#footer {
    text-align: center;
    padding-top: 50px;
    height: 100px;
    text-align: center;
    font-size: small;

}